<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.co.soramitsu.splash">

    <application>

        <activity
            android:name="jp.co.soramitsu.splash.presentation.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>