<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.co.soramitsu.app">

    <application
        android:name="jp.co.soramitsu.app.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <activity
            android:name="jp.co.soramitsu.app.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Soramitsu.Fearless" />

    </application>

</manifest>