# Copy this file to local.properties (root) and replace placeholders with your real values.
# Do NOT commit local.properties to VCS.

MOONPAY_TEST_SECRET="<your_moonpay_test_secret>"
MOONPAY_PRODUCTION_SECRET="<your_moonpay_production_secret>"

# X1 plugin
X1_ENDPOINT_URL_DEBUG=<your_x1_endpoint_url_debug>
X1_ENDPOINT_URL_RELEASE=<your_x1_endpoint_url_release>

X1_WIDGET_ID_DEBUG=<your_x1_widget_id_debug>
X1_WIDGET_ID_RELEASE=<your_x1_widget_id_release>

# Web Client ID
WEB_CLIENT_ID_DEBUG=<your_google_web_client_id_debug>
WEB_CLIENT_ID_RELEASE=<your_google_web_client_id_release>

# Ethereum blast api nodes keys
FL_BLAST_API_ETHEREUM_KEY=<your_blast_api_eth_key>
FL_BLAST_API_BSC_KEY=<your_blast_api_bsc_key>
FL_BLAST_API_SEPOLIA_KEY=<your_blast_api_sepolia_key>
FL_BLAST_API_GOERLI_KEY=<your_blast_api_goerli_key>
FL_BLAST_API_POLYGON_KEY=<your_blast_api_polygon_key>

# Ethereum history providers api keys
FL_ANDROID_ETHERSCAN_API_KEY=<your_etherscan_api_key>
FL_ANDROID_BSCSCAN_API_KEY=<your_bscscan_api_key>
FL_ANDROID_POLYGONSCAN_API_KEY=<your_polygonscan_api_key>
FL_ANDROID_OKLINK_API_KEY=<your_oklink_api_key>
FL_ANDROID_OPMAINNET_API_KEY=<your_op_mainnet_api_key>

FL_ANDROID_OKX_PROJECT_ID=<your_okx_project_id>
FL_ANDROID_OKX_API_KEY=<your_okx_api_key>
FL_ANDROID_OKX_SECRET=<your_okx_secret>
FL_ANDROID_OKX_PASSPHRASE=<your_okx_passphrase>

FL_WALLET_CONNECT_PROJECT_ID=<your_wallet_connect_project_id>
FL_ANDROID_ALCHEMY_API_ETHEREUM_KEY=<your_alchemy_api_eth_key>
FL_DWELLIR_API_KEY=<your_dwellir_api_key>

FL_ANDROID_TON_API_KEY=<your_ton_api_key>
FL_ANDROID_TON_INDEXER_URL=<your_ton_indexer_base_url>
